* {
	box-sizing: border-box;
}

html, body{
	height:100%;
	width:100%;
	padding: 0px;
	margin: 0px;
	overscroll-behavior: contain;
}

.box-wrapper{
	height: 100%;
	width: 50%;
	float:left;
	border: 5px solid;
}

.box-wrapper > div{
	height: 40px;
	line-height: 30px;
	border: 5px solid; 
	font-family: sans-serif;
	text-align: center;
}

.box-wrapper > canvas {
	height: calc(100% - 40px);
	width: 100%;
}
